gdown==5.0.1
google-auth
imageio
keras==2.13.1
matplotlib==3.4.2
numpy>=1.22,<=1.24.3
opencv-python==4.5.3.56
pandas==1.3.3
scikit-learn==0.24.2
scipy==1.7.1
streamlit==1.31.0
tensorboard==2.13.0
tensorflow==2.13.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.62.3
